html,body {
  max-width: 100vw;
  overflow-x: hidden;
}

.centerAcc{
  background-color: hsl(0, 0%, 100%);
  position: relative;
  border-radius: 15px;
  padding: 15px 0;
  margin-bottom: 100px;
}
.mt-132{
  margin-top: -132px !important;

}
.mt-220{
  margin-top: -220px !important;

}
.centerAcc>*{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding: 10px;
  position: inherit !important;
  box-shadow: none !important;
  border-bottom: 1px solid  hsl(275, 100%, 97%);
}
.centerAcc>*:hover .firstP{
  color: #ad28eb !important;
}
.centerAcc>*::before{
  position: relative !important;
}
.w-90{
  width: 90% !important;
}
.bg-eee{
  background-color: #eee !important;
}
